---
import { getCollection } from "astro:content";
import { format } from "date-fns";

import BaseLayout from "@layouts/BaseLayout.astro";

import List from "@components/List.astro";
import Link from "@components/Link.astro";

const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return data.published;
});

const draftBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.published;
});
---

<BaseLayout title="Blog" subtitle="A collection of my rambling">
  <List name="Posts" class="selection:bg-neo-blue box bg-neo-pink">
    {
      publishedBlogEntries.map((blogEntry) => (
        <li>
          {format(blogEntry.data.published!, "yyyy-MM-dd")} -{" "}
          <Link href={`/blog/${blogEntry.slug}`}>{blogEntry.data.title}</Link>
        </li>
      ))
    }
  </List>

  {
    !import.meta.env.PROD && draftBlogEntries.length && (
      <List
        name="Draft Blog Posts"
        class="bg-neo-blue box selection:bg-neo-pink"
      >
        {draftBlogEntries.map((blogEntry) => (
          <li>
            <Link href={`/blog/${blogEntry.slug}`}>{blogEntry.data.title}</Link>
          </li>
        ))}
      </List>
    )
  }
</BaseLayout>
