---
import BaseLayout from "@layouts/BaseLayout.astro";

import List from "@components/List.astro";
import Link from "@components/Link.astro";
---

<BaseLayout>
  <List name="Email">
    <li>
      <Link href="mailto:danielle@themaywoods.com">
        danielle@themaywoods.com
      </Link>
    </li>
  </List>

  <List name="Social Media">
    <li>
      <Link href="https://hachyderm.io/@thisdanielle" rel="me">Fediverse</Link>
    </li>
    <li>
      <Link href="https://staging.bsky.app/profile/danielle.maywood.dev">
        Bluesky
      </Link>
    </li>
    <li>
      <Link href="https://discordapp.com/users/662291749280153602">
        Discord
      </Link>
    </li>
  </List>

  <List name="Source Control">
    <li>
      <Link href="https://github.com/DanielleMaywood">GitHub</Link>
    </li>
    <li>
      <Link href="https://sr.ht/~danielle">SourceHut</Link>
    </li>
    <li>
      <Link href="https://codeberg.org/Danielle">Codeberg</Link>
    </li>
  </List>
</BaseLayout>
