---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
---

<BaseLayout title="Danielle Maywood - Contact">
  <h1 class="text-4xl font-bold">Contact me</h1>
  <p class="mt-4 text-lg">
    You can find me via email at <Link href="mailto:danielle@themaywoods.com"
      >danielle@themaywoods.com</Link
    >. You can also find me on <Link
      rel="me"
      href="https://hachyderm.io/@thisdanielle">Mastodon</Link
    >, <Link rel="me" href="https://bsky.app/profile/danielle.maywood.dev"
      >Bluesky</Link
    >, <Link rel="me" href="https://discordapp.com/users/662291749280153602"
      >Discord</Link
    >, <Link rel="me" href="https://github.com/DanielleMaywood">GitHub</Link>, <Link
      rel="me"
      href="https://sr.ht/~danielle">SourceHut</Link
    >, or <Link rel="me" href="https://codeberg.org/Danielle">Codeberg</Link>.
  </p>
</BaseLayout>
