---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
---

<BaseLayout title="Dissertation">
  <p class="center">
    Want to view my dissertation on writing a WebAssembly compile target for
    Gleam?
  </p>

  <p class="center">
    <Link href="/dissertation.pdf">You can download it here.</Link>
  </p>
</BaseLayout>
