---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";

const projects = [
  {
    link: "https://github.com/DanielleMaywood/fyp-gleam",
    name: "Gleam Wasm",
    desc: "WebAssembly target for Gleam",
  },
  {
    link: "https://github.com/DanielleMaywood/glexer",
    name: "Glexer",
    desc: "Lexer for Gleam, written in Gleam",
  },
];
---

<BaseLayout>
  <article class="prose container flow">
    <Header />

    <hr />

    <figure>
      <blockquote>
        Everyone knows that debugging is twice as hard as writing a program in
        the first place. So if you're as clever as you can be when you write it,
        how will you ever debug it?
      </blockquote>
      <figcaption>
        Brian Kernighan, <cite>The Elements of Programming Style</cite>
      </figcaption>
    </figure>

    <p>
      Hey, I'm Danielle, a Software Engineer @
      <a href="https://coder.com">Coder</a>.
    </p>

    <h2>My projects</h2>

    {
      projects.map((project) => (
        <p class="card">
          <a href={project.link}>{project.name}</a> - {project.desc}
        </p>
      ))
    }
  </article>
</BaseLayout>
