---
import HeaderLink from "./HeaderLink.astro";

const links = [
  {
    href: "/",
    name: "About",
  },
  {
    href: "/contact/",
    name: "Contact",
  },
];
---

<header
  class="my-4 flex justify-between border-b-2 border-trans-pink pb-3 pt-4 dark:border-trans-blue"
>
  <h1 class="text-4xl font-bold dark:text-trans-pink">Danielle Maywood</h1>

  <nav class="my-auto">
    <ul class="flex flex-row justify-center gap-4 md:justify-start">
      {
        links.map(({ href, name }) => (
          <li>
            <HeaderLink href={href}>{name}</HeaderLink>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
