---
import HeaderLink from "./HeaderLink.astro";

const links = [
  {
    href: "/",
    name: "About",
  },
  {
    href: "/contact/",
    name: "Contact",
  },
];
---

<header class="my-4 flex justify-between border-b border-trans-blue pb-3 pt-4">
  <h1 class="text-4xl font-bold dark:text-trans-pink">Danielle Maywood</h1>

  <nav class="my-auto">
    <ul class="flex flex-row justify-center gap-4 md:justify-start">
      {
        links.map(({ href, name }) => (
          <li>
            <HeaderLink href={href}>{name}</HeaderLink>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
