---
interface Props {
  href: string;
}

const { pathname } = Astro.url;
const { href } = Astro.props;
---

<a
  class:list={[
    "text-lg font-medium text-pink-900 decoration-2 underline-offset-4 hover:underline dark:text-pink-200",
    {
      underline: pathname === href,
    },
  ]}
  href={href}
  rel="prefetch"
>
  <slot />
</a>
