---
interface Props {
  href: string;
}

const { pathname } = Astro.url;
const { href } = Astro.props;
---

<a
  class:list={[
    "text-xl font-semibold underline decoration-2 underline-offset-2 hover:text-ctp-red",
    {
      "text-ctp-pink": pathname === href,
    },
  ]}
  href={href}
  rel="prefetch"
>
  <slot />
</a>
