---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="bg-ctp-mantle mt-2 py-4 px-8 border-b-2 border-b-ctp-surface1 rounded-sm"
>
  <nav>
    <ul class="flex flex-row gap-4">
      <li>
        <HeaderLink href="/">Home</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/contact/">Contact</HeaderLink>
      </li>
    </ul>
  </nav>
</header>
