---
import Link from "./Link.astro";
---

<header
  class="cluster"
  style="--cluster-horizontal-alignment: space-between; --gutter: var(--space-xs)"
>
  <h1>Danielle Maywood</h1>

  <nav>
    <ul class="cluster" role="list">
      <li>
        <Link href="/">Home</Link>
      </li>
      <li>
        <Link href="/contact">Contact</Link>
      </li>
      <li>
        <Link href="/uses">Uses</Link>
      </li>
    </ul>
  </nav>
</header>
