---
import HeaderLink from "./HeaderLink.astro";

const links = [
  {
    href: "/",
    name: "Home",
  },
  {
    href: "/contact/",
    name: "Contact",
  },
  {
    href: "/blog/",
    name: "Blog",
  },
];
---

<header
  class="mt-2 rounded-sm border-b-2 border-zinc-300 bg-zinc-200 px-8 py-4 dark:border-zinc-700 dark:bg-zinc-800"
>
  <nav>
    <ul class="flex flex-row gap-4">
      {
        links.map(({ href, name }) => (
          <li>
            <HeaderLink href={href}>{name}</HeaderLink>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
