---
interface Props {
  href: string;
}

const { pathname } = Astro.url;
const { href } = Astro.props;
---

<a
  class:list={[
    "box bg-neo-pink text-xl font-bold underline decoration-4 underline-offset-8 hover:box-lg focus:box-lg focus:outline-none",
    {
      underline: pathname === href,
    },
  ]}
  href={href}
  data-astro-prefetch
>
  <slot />
</a>
