---
interface Props {
  href: string;
  rel?: string;
}

const { href, rel } = Astro.props;
---

<a
  class="font-medium text-pink-800 underline underline-offset-2 dark:text-pink-200"
  href={href}
  rel={rel}
>
  <slot />
</a>
