---
interface Props {
  class?: string;
  name: string;
}

const { name, class: klass } = Astro.props;
---

<section class=`mt-4 ${klass}`>
  <h3 class="text-2xl font-semibold leading-8">{name}</h3>
  <ul class="ml-5 mt-1 list-disc">
    <slot />
  </ul>
</section>
