body {
  background: var(--surface-1);
  color: var(--text-1);
  font-size: var(--size-1);
  font-family: var(--font-system-ui);
  margin: 0;
}

:is(h1, h2, h3, h4) {
  line-height: var(--leading-fine);
}

h1 {
  font-size: var(--size-4);
}

h2 {
  font-size: var(--size-3);
}

h3 {
  font-size: var(--size-2);
}

:is(h4, h5, h6) {
  font-size: var(--size-1);
}

header {
  padding-block-start: var(--space-s);
}

hr {
  border: 1px solid var(--surface-4);
}

main > * {
  --flow-space: var(--space-s-m);
}

a {
  text-underline-offset: 4px;
}

code {
  font-size: 0.9em;
}

footer {
  margin-block-end: var(--space-s);
}

/**
 * Blockquote
 **/

figure:has(blockquote) {
  padding-inline-start: var(--space-s);
  padding-block: var(--space-2xs);
  margin-inline: 0;
  border-inline-start: 4px solid var(--accent);
  background-color: var(--surface-2);
}

figure:has(blockquote) > * {
  --flow-space: var(--space-xs);
}

figure:has(blockquote) blockquote {
  margin-inline-start: 0;
  text-wrap: balance;
  text-wrap: pretty;
}

figure:has(blockquote) figcaption::before {
  content: "\2014";
}

/**
 * List
 **/

figure:has(ul) {
  margin-inline: 0;
}

figure:has(ul) > * {
  --flow-space: var(--space-xs);
  list-style: none;
}

figure:has(ul) ul {
  padding-inline-start: var(--space-s);
  margin-block-start: var(--space-3xs);
  margin-inline-start: 0;
}

figure:has(ul) ul ::marker {
  font-size: 0.8lh;
}

figure:has(ul) ul[data-list-bare] > li {
  padding-inline-start: 0;
}

pre:has(code) {
  padding: var(--space-xs);
  border: 2px solid var(--surface-4);
}