:root {
  --text-1: var(--gray-11);
  --text-2: var(--gray-9);
  --text-3: var(--gray-7);
  --text-4: var(--gray-5);

  --accent: var(--pink-4);

  --surface-1: var(--gray-0);
  --surface-2: var(--gray-1);
  --surface-3: var(--gray-2);
  --surface-4: var(--gray-3);

  --code-bg: var(--surface-2);
  --code-fg: var(--text-2);
  --code-keyword: var(--red-9);
  --code-string: var(--green-9);
  --code-constant: var(--purple-9);
  --code-variable: var(--blue-9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-1: var(--gray-1);
    --text-2: var(--gray-3);
    --text-3: var(--gray-5);
    --text-4: var(--gray-7);

    --accent: var(--pink-4);
  
    --surface-1: var(--gray-11);
    --surface-2: var(--gray-10);
    --surface-3: var(--gray-9);
    --surface-4: var(--gray-8);

  --code-bg: var(--surface-2);
  --code-fg: var(--text-2);
  --code-keyword: var(--red-4);
  --code-string: var(--green-3);
  --code-constant: var(--purple-2);
  --code-variable: var(--blue-2);
  }
}