---
import "../css/reset.css";
import "../css/variables.css";
import "../css/theme.css";
import "../css/styles.css";
import "../css/components.css";

import Header from "../components/Header.astro";

type Props = {
  title?: string;
};

const { title } = Astro.props;
const name = "Danielle Maywood's Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${name}` : name}</title>
  </head>
  <body class="prose container flow">
    <Header />
    <hr />
    <main class="flow">
      <slot />
    </main>
  </body>
</html>
