---
import "../css/reset.css";
import "../css/variables.css";
import "../css/theme.css";
import "../css/styles.css";
import "../css/components.css";

import type { HTMLAttributes } from "astro/types";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = HTMLAttributes<"main"> & {
  title?: string;
};

const { title, ...props } = Astro.props;
const name = "Danielle Maywood's Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta
      name="theme-color"
      content="#f8f9fa"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#0d0f12"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${name}` : name}</title>
  </head>
  <body class="prose container flow">
    <Header />
    <hr />
    <main class="flow" {...props}>
      <slot />
    </main>
    <hr />
    <Footer />
  </body>
</html>
