---
import Header from "@components/Header.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <slot name="head">
      <meta property="og:type" content="website" />
    </slot>
    <title>Danielle - {title}</title>
  </head>
  <body
    class="container mx-auto bg-trans-pink/15 px-2 text-trans-black dark:bg-trans-black dark:text-trans-white"
  >
    <Header />

    <main class="space-y-4">
      <slot />
    </main>
  </body>
</html>
